* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(30 173 119);
  background: linear-gradient(45deg, rgb(49 173 185), rgb(30 173 119));
}

input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  margin: 10px 10px 10px auto;
  border-radius: 4px;
  padding: 12px;
  border-color: rgba(0, 0, 0, 0.1);
  background: #ffffff;
  box-shadow: 5px 5px 13px #d9d9d9, -5px -5px 13px #ffffff;
}

.Logo {
  width: 50px;
  position: relative;
  top: 50px;
}

.ToDo {
  text-align: center;
  width: 80vw;
  max-width: 768px;
  height: auto;
  margin: 40px auto;
  border-radius: 10px;
  background: #ffffff;
}

.ToDoInput {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToDo-Header {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 70px auto 30px;
}

.ToDo-Subheader {
  font-size: 1em;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 4px auto 20px;
}

.ToDo-Add {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-color: transparent;
  color: #73ff73;
  font-size: 2rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #ffffff;
}

.ToDo-Add:hover {
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
}

.ToDo-Container {
  width: 80%;
  margin: 0 auto;
}

.ToDo-ErrorContainer {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1rem;
}

.ToDoItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToDoItem-Text {
  width: 90%;
  padding: 12px;
  margin-right: 10px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
  box-shadow: 5px 5px 13px #d9d9d9, -5px -5px 13px #ffffff;
  text-align: left;
}

.ToDoItem-Delete {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #ffffff;
  border-color: transparent;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.ToDoItem-Delete:hover {
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
}

